.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.headers-region {
    -fx-effect: null;
}

.tab-pane {
    -fx-tab-min-width: 70px;
    -fx-background-color: #fff;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-padding: 4px 10px;
}

.tab-pane .tab {
    -fx-background-color: #bbb;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #eee;
    -fx-font-weight: bold;
}


.tab-pane .tab:selected {
    -fx-background-color: #eee;
    -fx-text-fill: #000;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #007bff;
}

#controls {
    -fx-background-color: #fff;
}

#controls.label, #controls.combo-box {
}

#controls .button {
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-background-color: #ddd;
    -fx-border-radius: 0px;
}

.combo-box-base{
    -fx-padding: 0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.combo-box .arrow, .combo-box .arrow-button{
}

.combo-box .list-cell {
    -fx-text-fill: #000;
}
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #ddd ;
    -fx-text-fill: #000 ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: #fff ;
    -fx-background-color: #007bff ;
}


#calculationsBreakdown {
    -fx-background-color: #eee;
}

#declaredDistances {
    -fx-background-color: #eee;
}

.tab-pane.runway .tab:selected  {
    -fx-background-color: #333;
}

.tab-pane.runway .tab:selected .tab-label {
-fx-text-fill: #fff;
}

.tab-pane.view .tab:selected  {
    -fx-background-color: #eee;
}

.tab-pane.view .tab:selected .tab-label {
    -fx-text-fill: #007bff;
}